input {
    border: none;
    border-bottom: 1px solid lightgray;
    display: block;
    font-family: 'Roboto-Regular';
    font-size: 1rem;
    margin: 0 auto 2rem;
    outline: none;
    width: 300px;
}